@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?33cbam');
    src:    url('../fonts/icomoon.eot?33cbam#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?33cbam') format('truetype'),
        url('../fonts/icomoon.woff?33cbam') format('woff'),
        url('../fonts/icomoon.svg?33cbam#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
    content: "\e90a";
}
.icon-qrcode:before {
    content: "\e90b";
}
.icon-linkedin:before {
    content: "\e905";
}
.icon-github:before {
    content: "\e906";
}
.icon-facebook:before {
    content: "\e907";
}
.icon-pencil:before {
    content: "\e908";
}
.icon-document:before {
    content: "\e909";
}
.icon-suitcase:before {
    content: "\e903";
}
.icon-tools:before {
    content: "\e904";
}
.icon-edacution:before {
    content: "\e900";
}
.icon-group_half:before {
    content: "\e901";
}
.icon-user:before {
    content: "\e902";
}

