<div class="menu_flex">
    <div class="menu_top">
        <% _.each(plugin, function(item){ %>
            <div class="menu_button" rel="<%=item.key%>">
                <span class="icon icon-<%=item.icon%>"></span>
            </div>
        <%})%>
    </div>
    <div class="menu_bottom">
        <div class="menu_button" style="display: none;">
            <span class="icon icon-printe funcBtn" rel="printer"></span>
        </div>
        <div class="menu_button">
            <span class="icon icon-qrcode funcBtn" rel="qrcode"></span>
        </div>
        <div class="menu_button" style="">
            <span class="icon icon-trans" rel="en-us">EN</span>
            <span class="icon icon-trans" rel="zh-tw">中</span>
        </div>
    </div>
</div>